---
export interface Props {
    url: string
    label: string
}

const { url, label } = Astro.props
---

<a
    href={url}
    class="container"
>
    <slot />
    <span>{label}</span>
</a>

<style>
    .container {
        border-radius: 1rem;
        font-size: medium;

        display: flex;
        flex-basis: 100px;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        
        text-align: center;
        text-decoration: none;
        color: var(--text);
    }

    .container span {
        color: var(--text);

        transition: color 0.2s ease-in-out;
    }

    .container:hover span {
        color: var(--highlight);
    }
</style>