---
export interface Props {
    url: string
    label: string
}

const { url, label } = Astro.props
---

<a
    href={url}
    class="flex flex-col basis-[100px] gap-2 items-center justify-center text-center transition-colors text-slate-500 hover:text-primary-500"
>
    <div class="text-black dark:text-white">
        <slot />
    </div>

    <span>{label}</span>
</a>