---
export type Props = {
    title?: string
}

const { title } = Astro.props
---

<section class="p-4 rounded-lg even:bg-slate-100 dark:even:bg-slate-900">
    { !!title && <h2 class="mb-4 font-bold text-2xl text-center">{title}</h2> }

    <slot />
</section>