---
import NavItem from "./NavItem.astro";
---

<header class="w-full bg-slate-200 dark:bg-slate-900 text-slate-600 dark:text-slate-400">
    <div class="inner flex justify-between px-4 py-2">
        <div class="text-lg font-semibold">Brinsley Blackwood</div>

        <div class="flex gap-2">
            <NavItem href="/">Home</NavItem>
            <NavItem href="/expertise">Expertise</NavItem>
            <NavItem href="/resume">Resumé</NavItem>
        </div>
    </div>
</header>

<style>
    @media screen and (max-width: 390px) {
        .inner {
            flex-direction: column;
            align-items: center;
        }
    }
</style>
