---
---

<main class="m-auto pb-4 max-w-[816px] min-h-[400px]">
    <slot />
</main>

<style>
    @media screen and (max-width: 840px) {
        main {
            padding: 0 15px;
        }
    }
</style>
