---
---

<main>
    <slot />
</main>

<style>
    main {
        margin: auto;
        max-width: 816px;
        min-height: 400px;
    }

    @media screen and (max-width: 840px) {
        main {
            padding: 0 15px;
        }
    }
</style>
